@import '../../../styles/definition';

.list-container {
  width: 60%;
  margin: 0 auto;

  .item-container {
    padding-top: 10px;
    border: {
      top: 1.5px solid $woowa-dark-grey;
      bottom: 1.5px solid $woowa-dark-grey;
    }
  }

  .item-container + .item-container {
    margin-top: 20px;
  }
}
