@import '../../../styles/definition';

.input-form {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
  position: relative;

  .delete-btn {
    position: absolute;
    top: 1%;
    right: 1%;
  }

  .select-type {
    display: block;
    margin: 10px 0 20px 0;

    .title {
      margin-right: 20px;
    }

    .income, .expense {
      cursor: pointer;
      color: $woowa-color;
      border: 2px solid $woowa-color;
      border-radius: 3px;
      padding: 3px 15px;
      margin: 0 3px;
    }

    input {
      display: none;
      &:checked + label {
        color: white;
        background-color: $woowa-color;
      }
    }
  }

  .input-form-1 {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin: 20px 0;

    label {
      width: 250px;
      vertical-align: middle;
    }

    .date {
      width: 100%;
      margin: 0 30px 0 0;
    }

    .category {
      width: 100%;
      margin: 0 30px 0 5px;
    }

    .card {
      width: 100%;
      margin: 0 0 0 5px;
    }
  }

  .input-form-2 {
    display: flex;
    line-height: 30px;
    justify-content: space-between;
    margin: 20px 0;

    label {
      width: 10vw;
      vertical-align: middle;
    }

    .amount {
      width: 100%;
      margin: 0 30px 0 5px;
    }

    .content {
      width: 100%;
      margin: 0 0 0 5px;
    }
  }

  .submit-btn {
    width: 100%;
    margin: 10px 0;
  }
}
