@import '../../../styles/definition';

.input-form {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  position: relative;

  .delete-btn {
    position: absolute;
    top: 1%;
    right: 1%;
  }

  .select-type {
    display: block;
    margin: 10px 0 20px 10px;
  }

  .input-form-1 {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin: 20px 0;

    label {
      width: 250px;
      vertical-align: middle;
    }

    .date, .category {
      width: 100%;
      margin: 0 30px 0 5px;
    }

    .card {
      width: 100%;
      margin: 0 0 0 5px;
    }
  }

  .input-form-2 {
    display: flex;
    line-height: 30px;
    justify-content: space-between;
    margin: 20px 0;

    label {
      width: 10vw;
      vertical-align: middle;
    }

    .amount {
      width: 100%;
      margin: 0 30px 0 5px;
    }

    .content {
      width: 100%;
      margin: 0 0 0 5px;
    }

  }

  .submit-btn {
    width: 100%;
    margin: 10px 0;
  }
}
