@import '../../../styles/definition';

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  
  .filter-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 30%;
      background-color: $woowa-color-week;
      color: #eeeeee;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $woowa-color;
      }
    }
  
    a + a {
      margin-left: 3%;
    }
  }
}