@import '../../styles//definition';


.amount-form {
  margin-left: 40%;
  .income-label {
    padding: 0 10px;
    width: 180px;
    font-size: 14px;
    color: $bong-blue;
    border-color: $bong-blue;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $bong-blue-grey;
    }
  }

  .expense-label {
    padding: 0 10px;
    width: 180px;
    font-size: 14px;
    color: $woowa-color;
    border-color: $woowa-color;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $woowa-grey;
    }
  }

  .income,
  .expense {
    margin: 15px 0;
    position: relative;
    .wrap {
      position: absolute;
      width: 100px;
      left: 10%;
    }
  }

  #checkbox-income {
    margin: 5px;
    cursor: pointer;
    display: none;
    &:checked + label {
      color: white;
      border: 2px solid $bong-blue;
      background-color: $bong-blue;
    }
  }
  #checkbox-expense {
    margin: 5px;
    cursor: pointer;
    display: none;
    &:checked + label {
      color: white;
      border: 2px solid $woowa-color;
      background-color: $woowa-color;
    }
  }

  .total-income {
    float: right;
    right: 0;
    color: $bong-blue;
  }

  .total-expense {
    float: right;
    right: 0;
    color: $woowa-color;
  }
}
