@import '../../../styles/definition';

.item-content {
  height: 30px;
  line-height: 30px;
  position: relative;
  color: $woowa-dark-grey;

  .item-category {
    position: absolute;
    background-color: $woowa-color-week;
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
  }

  .item-content {
    position: absolute;
    left: 80px;
  }

  .item-card {
    position: absolute;
    right: 100px;
  }

  .item-amount {
    position: absolute;
    right: 0;
    color: $woowa-color;
    font-weight: bold;
  }
}
