@import '../../../styles/definition';

.card-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.4);

  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 7px;

    min: {
      width: 500px;
      height: 500px;
    }

    display: flex;
    flex-direction: column;

    .head {
      background: #fc766aff;

      .icon {
        padding: 10px;
        display: flex;
        justify-content: flex-end;

        i {
          color: #eeeeee;
          cursor: pointer;
        }
      }

      .title {
        margin: 5px 0 20px 0;
        text-align: center;
        color: #eeeeee;
        font-size: 40px;
      }
    }

    .main {
      background-color: white;
      width: 100%;
      min-height: 500px;

      .input-wrapper {
        width: 100%;
        min-height: 50px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        input {
          border: none;
          outline: none;
          border-bottom: 1px solid #b1b3b3ff;
          padding-left: 10px;
          font-size: 30px;
        }

        button {
          background: #fc766aff;
          color: #eeeeee;
          margin-right: 10px;
          min-width: 100px;
          font-size: 25px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .card-list {
        width: 100%;
      }
    }
  }
}
