.card-item {
  display: flex;
  min-height: 50px;
  padding: 10px;
  border-top: 0.5px solid #b1b3b3ff;

  div {
    flex: 0.7;
    text-align: center;
    font-size: 20px;
  }

  i {
    flex: 0.3;
    text-align: center;
    cursor: pointer;
  }
}
