$font-main: 'Noto Sans Kr';
$woowa-color: rgba(42, 193, 188, 0.85);
$woowa-color-week: rgba(42, 193, 188, 0.75);
$woowa-grey: #e1f2ef;
$woowa-dark-grey: #5c7d7c;
$bong-blue: #0077ff;
$bong-blue-grey: #ccddf0;